<% title @database.name %>
<p>
  <strong>Hostname:</strong>
  <%=h @database.hostname %>
</p>
<p>
  <strong>Schema:</strong>
  <%=h @database.schema %>
</p>

<h2>Reports</h2>

<table>
  <% for report in @database.reports %>
    <tr>
      <td><%= link_to report.name, report %></td>
      <td><%= link_to "Remove", report, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_database_report_path(@database) %></p>
