<% title @database.name, false %>
<h1 class="with_details"><%= @database.name %></h1>(<%=h @database.hostname %>/<%=h @database.schema %>)

<table>
  <% for report in @database.reports %>
    <tr>
      <td><%= link_to report.name, report %></td>
      <td><%= link_to "Remove", report, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_database_report_path(@database) %></p>
