<% title "Reports" %>

<table>
  <tr>
    <th>Name</th>
    <th>Query</th>
    <th>Database</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%=h report.name %></td>
      <td><%=h report.query %></td>
      <td><%=h report.database_id %></td>
      <td><%= link_to "Show", report %></td>
      <td><%= link_to "Edit", edit_report_path(report) %></td>
      <td><%= link_to "Destroy", report, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_database_report_path(@database) %></p>
