<% title @report.name, false %>
<h1 class="with_details"><%= @report.name %></h1><%= link_to "Edit", edit_report_path(@report) %>
<p>
  <strong>Query:</strong>
  <%=h @report.query %>
</p>

<table>
<thead>
  <% @column_names.each do |column_name| %>
  <th>
    <%= column_name  %>
  </th>
  <% end %>
</thead>
<tbody>
<% @result.each do |row| %>
  <tr>
  <% row.each_with_name do |value, column_name| %>
    <td><%= value %></td>
  <% end %>
  </tr>
<% end %>
</tbody>
</table>



